{
    "db": {
        "user": "wrms_readonly",
        "database": "wrms",
        "password": "",
        "host": "192.168.0.10",
        "port": 5432
    },
    "server": {
        "port": 80
    },
    "lint": {
        "quote_leeway": 1
    },
    "chat_nicks": {
        "bob@example.com": "bob"
    },
    "log": {
        "file": "-",
        "level": "info"
    }
}
