{
    "db": {
        "user": "wrms_readonly",
        "database": "wrms",
        "password": "",
        "host": "192.168.0.10",
        "port": 5432
    },
    "rocketchat": {
        "dedup_window_hours": 24,
        "mute": false,
        "webhooks": {
            "harambe": null,
            "katy_purry": null,
            "veronicat": null,
            "mr_meowgi": null
        },
        "channels": {
            "Company": "#example"
        },
        "nicks": {
            "bob@catalyst-eu.net": "@bob"
        }
    },
    "server": {
        "port": 80,
        "email_domain_like": "%catalyst-eu.net",
        "wrms_uri": "https://wrms.catalyst.net.nz"
    },
    "wrms_poll": {
        "on_startup": true,
        "interval_seconds": 60,
        "ignore_org_id": [37, 1098, 1185, 1137, 1615],
        "ignore_org_if_contains_system": [18, 164, 1562],
        "ignore_updates_for_system": [2881, 2657, 2758]
    },
    "quotes": {
        "budget_csv_uri": {
            "hostname": null,
            "path": "/hours/{org}",
            "port": 8000
        },
        "mute": false,
        "persona": "veronicat"
    },
    "timesheets": {
        "check_interval_minutes": 240,
        "check_on_startup": false,
        "exclude_users": [1794, 4041],
        "mute": false,
        "persona": "mr_meowgi"
    },
    "response_times": {
        "urgency_hours": {
            "'Yesterday'": 2,
            "As Soon As Possible": 4,
            "Sometime soon": 8,
            "Anytime": 16
        },
        "warn_at_X_mins_left": 30,
        "chase_overdue_every_X_mins": 30,
        "mute": false,
        "persona": "katy_purry"
    },
    "updates": {
        "client_only": true,
        "stick_to_default_channel": true,
        "mute": false,
        "persona": "katy_purry"
    },
    "lint": {
        "flush_interval_minutes": 5,
        "rewind_on_startup": 0.5,
        "check_unallocated": false,
        "max_allocations": 2,
        "hours_before_quote_required": 1,
        "acceptable_hours_budget_overrun": 3,
        "mute": false,
        "persona": "veronicat"
    },
    "log": {
        "file": "-",
        "level": "trace"
    }
}
