{
    "db": {
        "user": "wrms_readonly",
        "database": "wrms",
        "password": "",
        "host": "192.168.0.10",
        "port": 5432
    },
    "server": {
        "port": 80
    },
    "lint": {
        "quote_leeway": 1,
        "budget_overrun_leeway": 1
    },
    "log": {
        "file": "-",
        "level": "warn"
    },
    "chat_nicks": {
        "foo@example.com": "@Bob"
    }
}
